{% extends "layout.html.twig" %}

{% block main %}
    <main class="container">
        <div class="row"><div class="col">
            <h1>Move along</h1>
        </div></div>
        <div class="row">
            <div class="col">
                <p>Nothing to see here...</p>
            </div>
        </div>
    </main>
{% endblock main %}
