{% extends "@App/layout.html.twig" %}

{% block title_template %}
  one-page contact
{% endblock title_template %}

{% block navbar %}{% endblock navbar %}

{% block footer %}{% endblock footer %}

{% block main %}
  <section id="contact" class="contact">
    <div class="jumbotron jumbotron-fluid rounded resting-1 goal-2">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="display-1">Contact us</h1>
        </div>
        <div class="row justify-content-center">
          <p class="font-weight-bold">
            <span class="fa fa-arrow-circle-right" aria-hidden="true">
              Future contact and location content
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}
