{% extends "@App/layout.html.twig" %}

{% block title_template %}
  one-page pad
{% endblock title_template %}

{% block navbar %}
  <div class="fab-wrapper">
    <a class="btn-fab" href="#home">
      <span class="fa fa-arrow-down">
        <span></a>
        <a class="btn-fab" href="#about">
          <span class="fa fa-arrow-down">
            <span></a>
            <a class="btn-fab" href="#pricing">
              <span class="fa fa-arrow-down">
                <span></a>
                <a class="btn-fab" href="#word">
                  <span class="fa fa-arrow-down">
                    <span></a>
                    <a class="btn-fab" href="#contact">
                      <span class="fa fa-arrow-down">
                        <span>
                          <span>
                            <span class="spin-rotate"></span>
                          </span>
                        </a>
                      </div>
                    {% endblock navbar %}

                    {% block footer %}{% endblock footer %}

                    {% block main %}{% endblock main %}
