/* from Bootstrap */
/* Colors */
$wt-orange: #f79422;
$wt-orange-light: #ffc556;
$wt-orange-dark: #c89524;
$wt-turquoise: #8fbdee;
$wt-turquoise-light: #c2efff;
$wt-turquoise-dark: #5d8dbb;
$wt-pink: #ee1f7a;
$wt-pink-light: #ff62a9;
$wt-pink-dark: #b6004e;
